@import '@tokens/variables.scss';


.loading-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $TOKEN_COLOR_BACKGROUND_LOADING_OVERLAY_DARK;
  z-index: $TOKEN_Z_INDEX_BASE_OVERLAY;
  &.light {
    background-color: $TOKEN_COLOR_BACKGROUND_LOADING_OVERLAY_LIGHT;
    .loading-spinner {
      color: $TOKEN_COLOR_BASE_BRAND_PRIMARY;
    }
  }
}

.loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $TOKEN_COLOR_BASE_LIGHT;
}