@import '@tokens/variables.scss';

.embed-code-popup {
  position: absolute;
  width: $TOKEN_SIZE_WIDTH_EMBED_CODE_POPUP;
  top: 0;
  margin: $TOKEN_SIZE_MARGIN_EMBED_CODE_POPUP_TOP $TOKEN_SIZE_MARGIN_EMBED_CODE_POPUP_RIGHT $TOKEN_SIZE_MARGIN_EMBED_CODE_POPUP_BOTTOM $TOKEN_SIZE_MARGIN_EMBED_CODE_POPUP_LEFT;
  text-align: left;
  background-color: $TOKEN_COLOR_BACKGROUND_EMBED_CODE_POPUP;
  padding: $TOKEN_SIZE_PADDING_EMBED_CODE_POPUP_TOP $TOKEN_SIZE_PADDING_EMBED_CODE_POPUP_RIGHT $TOKEN_SIZE_PADDING_EMBED_CODE_POPUP_BOTTOM $TOKEN_SIZE_PADDING_EMBED_CODE_POPUP_LEFT;
  box-shadow: 1px 1px 6px 3px rgba(46,46,46,0.3);
  z-index: $TOKEN_Z_INDEX_BASE_DIALOG;
  &.left {
    left: 0;
  }
  &.center {
    left: 50%;
    transform: translateX(-50%);
  }
  &.right {
    right: 0;
  }
};

.buttonClose {
  position: absolute;
  height: 16px;
  top: $TOKEN_SIZE_PADDING_EMBED_CODE_POPUP_TOP;
  right: $TOKEN_SIZE_PADDING_EMBED_CODE_POPUP_RIGHT;
};

.buttonCloseCopy {
  line-height: 16px;
  vertical-align: middle;
  margin: 0 $TOKEN_SIZE_BASE_XS 0 0;
};

.code-snippet {
  display: block;
  width: 100%;
  padding: $TOKEN_SIZE_BASE_SM;
  margin-top: $TOKEN_SIZE_BASE_SM;
  border: 1px solid $TOKEN_COLOR_BASE_STEEL;
  font-size: 10px;
  color: $TOKEN_COLOR_BASE_STEEL;
  overflow-wrap: break-word;
  user-select: all;
};