@import '@tokens/variables.scss';

.table-row-accordion {
  position: relative;
  border-bottom: $TOKEN_SIZE_BORDER_TABLE solid $TOKEN_COLOR_BORDER_TABLE;
  &.single-row {
    .button {
      margin-left: $TOKEN_SIZE_BASE_SM;
      outline: 0;
      cursor: auto;
    }
    .caret {
      display: none;
    }
  }

  &.open .caret {
    transform: rotate(180deg);
  }
  
  tr:first-of-type td:first-of-type {
    border: 0;
  }

  tr:last-child td{
    border-bottom: 0;
  }
}

.caret {
  margin-left: -10px;
  margin-right: 5px;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  margin-bottom: 0;
  padding: $TOKEN_SIZE_BASE_SM;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}