@import '@tokens/variables.scss';

.alert-message-wrapper {
  height: $TOKEN_SIZE_WIDTH_ICONS_SM;
}

.color-success {
  color: $TOKEN_COLOR_BASE_ALERT_SUCCESS;
}

.color-error {
  color: $TOKEN_COLOR_BASE_ALERT_ERROR;
}

.color-notification {
  color: $TOKEN_COLOR_BASE_ALERT_NOTIFICATION;
}