@import '@tokens/variables.scss';


.form {
  max-width: 464px;
  min-width: 232px;
  padding: $TOKEN_SIZE_PADDING_FORM_TOP $TOKEN_SIZE_PADDING_FORM_RIGHT $TOKEN_SIZE_PADDING_FORM_BOTTOM $TOKEN_SIZE_PADDING_FORM_LEFT;

  .form-input-field {
    margin-left: $TOKEN_SIZE_BASE_XS;
    margin-right: $TOKEN_SIZE_BASE_XS;
  }

  button {
    width: calc(50% - (#{$TOKEN_SIZE_BASE_XS} * 2));
    margin-left: $TOKEN_SIZE_BASE_XS;
    margin-right: $TOKEN_SIZE_BASE_XS;
  }
}