@import '@tokens/variables.scss';

@mixin text-styles($font-family: $TOKEN_FONT_BASE_DEFAULT, $font-size: $TOKEN_SIZE_TEXT_PARAGRAPH_SM, $font-weight: $TOKEN_FONT_WEIGHT_PARAGRAPH_SM, $font-style: $TOKEN_FONT_STYLE_PARAGRAPH_SM, $line-height: $TOKEN_SIZE_LINE_HEIGHT_PARAGRAPH_SM, $color: $TOKEN_COLOR_BASE_DARK, $margin: 0) {
  font-family:    $font-family;
  font-size:      $font-size;
  font-weight:    $font-weight;
  font-style:     $font-style;
  line-height:    $line-height;
  color:          $color;
  margin:         $margin;
};

@mixin set-margin($direction, $value) {
  margin-#{$direction}: $value;
}

@mixin set-padding($direction, $value) {
  padding-#{$direction}: $value;
}