@import '@tokens/variables.scss';

.button {
  position: absolute;
  height: 100%;
  width: 114px;
  left: -114px;
  top: 0;
  background-color: $TOKEN_COLOR_BASE_INTERACTIONS_DEFAULT !important;
  border-color: $TOKEN_COLOR_BASE_INTERACTIONS_DEFAULT !important;
  &:hover, &:active, &:focus {
    background-color: $TOKEN_COLOR_BASE_BRAND_PRIMARY !important;
    border-color: $TOKEN_COLOR_BASE_BRAND_PRIMARY !important;
  }
}