@import '@tokens/variables.scss';

.multi-select-wrapper {
  position: relative;
  display: block;
  width: $TOKEN_SIZE_WIDTH_MULTI_SELECT;
  padding: $TOKEN_SIZE_PADDING_MULTI_SELECT_TOP $TOKEN_SIZE_PADDING_MULTI_SELECT_RIGHT $TOKEN_SIZE_PADDING_MULTI_SELECT_BOTTOM $TOKEN_SIZE_PADDING_MULTI_SELECT_LEFT;
}

.dropdown-wrapper {
  top: 0;
  left: 0;
  width: 100%;
}

.search-icon {
  position: absolute;
  right: $TOKEN_SIZE_PADDING_INPUT_LG_RIGHT;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}