@import '@tokens/variables.scss';
@import '../../../css/utility/font-styles.scss';

.dropdown {
  display: inline-block;
  cursor: pointer;
}

.dropdown-wrapper {
  position: absolute;
  width: $TOKEN_SIZE_WIDTH_DROPDOWN;
  padding: $TOKEN_SIZE_PADDING_DROPDOWN_TOP $TOKEN_SIZE_PADDING_DROPDOWN_RIGHT $TOKEN_SIZE_PADDING_DROPDOWN_BOTTOM $TOKEN_SIZE_PADDING_DROPDOWN_LEFT;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
  overflow: hidden;
  z-index: $TOKEN_Z_INDEX_BASE_DROPDOWN;
  background-color: $TOKEN_COLOR_BASE_LIGHT;
}

.search-wrapper {
  padding: $TOKEN_SIZE_PADDING_DROPDOWN_LEFT $TOKEN_SIZE_PADDING_DROPDOWN_TOP $TOKEN_SIZE_PADDING_DROPDOWN_RIGHT $TOKEN_SIZE_PADDING_DROPDOWN_BOTTOM;
}

.list {
  position: relative;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.list-item {
  display: block;
  cursor: pointer;
  padding: $TOKEN_SIZE_PADDING_DROPDOWN_LIST_ITEM_TOP $TOKEN_SIZE_PADDING_DROPDOWN_LIST_ITEM_RIGHT $TOKEN_SIZE_PADDING_DROPDOWN_LIST_ITEM_BOTTOM $TOKEN_SIZE_PADDING_DROPDOWN_LIST_ITEM_LEFT;
  font-family: $TOKEN_FONT_FAMILY_DROPDOWN_LIST_ITEM;
  font-weight: $TOKEN_FONT_WEIGHT_DROPDOWN_LIST_ITEM;
  font-style: $TOKEN_FONT_STYLE_DROPDOWN_LIST_ITEM;
  line-height: $TOKEN_SIZE_LINE_HEIGHT_DROPDOWN_LIST_ITEM;
  font-size: $TOKEN_SIZE_TEXT_DROPDOWN_LIST_ITEM;
  color: $TOKEN_COLOR_TEXT_DROPDOWN_LIST_ITEM_DEFAULT;
  margin: 0;
  &:hover, &[data-active="true"] {
    background-color: $TOKEN_COLOR_BACKGROUND_DROPDOWN_LIST_ITEM_HOVER;
  }
}

.dropdown-inner-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  > label {
    padding: $TOKEN_SIZE_PADDING_DROPDOWN_LEFT $TOKEN_SIZE_PADDING_DROPDOWN_TOP $TOKEN_SIZE_PADDING_DROPDOWN_RIGHT $TOKEN_SIZE_PADDING_DROPDOWN_BOTTOM;
  }
}