@import '@tokens/variables.scss';

body {
  .#{$TOKEN_PREFIX_BASE_DEFAULT}block {
    display: block;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}inline-block {
    display: inline-block;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}inline {
    display: inline;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}flex {
    display: flex;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}inline-flex {
    display: inline-flex;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}table {
    display: table;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}table-row {
    display: table-row;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}table-cell {
    display: table-cell;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}hidden {
    display: none;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}float-left {
    float: left;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}float-right {
    float: right;
  }
}