@import '@tokens/variables.scss';
@import '@tokens/assets-fonts.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// This will iterate over all the font base tokens to create css classnames
// All tokens for font styles can be found in the token library under font/base.json
// example output: .title, .subtitle, .heading-sm, .heading-lg etc.
$font-styles: map-deep-get($gdm-tokens, 'font', 'family', 'gdm', 'text');

@each $name, $value in $font-styles {
  @if type-of($value) == 'map' {
    $sub-map: map-deep-get($font-styles, $name);
    @each $name_2, $value_2 in $sub-map {
      .#{$TOKEN_PREFIX_BASE_DEFAULT}#{$name}-#{$name_2} {
        @include text-styles(
          $font-family: map-deep-get($gdm-tokens, "font", "family", "gdm", "text", $name, $name_2) or $TOKEN_FONT_BASE_DEFAULT,
          $font-size: map-deep-get($gdm-tokens, "size", "text", "gdm", $name, $name_2) or $TOKEN_SIZE_TEXT_PARAGRAPH_SM,
          $font-weight: map-deep-get($gdm-tokens, "font", "weight", "gdm", $name, $name_2) or $TOKEN_FONT_WEIGHT_PARAGRAPH_SM,
          $font-style: map-deep-get($gdm-tokens, "font", "style", "gdm", $name, $name_2) or $TOKEN_FONT_STYLE_PARAGRAPH_SM,
          $line-height: map-deep-get($gdm-tokens, "size", "line_height", "gdm", $name, $name_2) or $TOKEN_SIZE_LINE_HEIGHT_PARAGRAPH_SM,
          $color: map-deep-get($gdm-tokens, "color", "text", "gdm", $name, $name_2) or $TOKEN_COLOR_BASE_DARK,
          $margin: map-deep-get($gdm-tokens, "size", "margin", "gdm", $name, $name_2) or 0,
        );
        @if $name == 'link' {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  } @else {
    .#{$TOKEN_PREFIX_BASE_DEFAULT}#{$name} {
      @include text-styles(
        $font-family: map-deep-get($gdm-tokens, "font", "family", "gdm", "text", $name) or $TOKEN_FONT_BASE_DEFAULT,
        $font-size: map-deep-get($gdm-tokens, "size", "text", "gdm", $name) or $TOKEN_SIZE_TEXT_PARAGRAPH_SM,
        $font-weight: map-deep-get($gdm-tokens, "font", "weight", "gdm", $name) or $TOKEN_FONT_WEIGHT_PARAGRAPH_SM,
        $font-style: map-deep-get($gdm-tokens, "font", "style", "gdm", $name) or $TOKEN_FONT_STYLE_PARAGRAPH_SM,
        $line-height: map-deep-get($gdm-tokens, "size", "line_height", "gdm", $name) or $TOKEN_SIZE_LINE_HEIGHT_PARAGRAPH_SM,
        $color: map-deep-get($gdm-tokens, "color", "text", "gdm", $name) or $TOKEN_COLOR_BASE_DARK,
        $margin: map-deep-get($gdm-tokens, "size", "margin", "gdm", $name) or 0,
      );
    };
  }
};

body {
  .#{$TOKEN_PREFIX_BASE_DEFAULT}text-center {
    text-align: center;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}text-right {
    text-align: right;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}text-left {
    text-align: left;
  }
}