@import '@tokens/variables.scss';

// This will iterate over all the size base tokens to create css classnames
// All tokens for font styles can be found in the token library under size/base.json
// example output: .icon-xxs, .icon-md, .icon-xxl etc.
$size: map-deep-get($gdm-tokens, 'size', 'base', 'gdm');
// $get-path-to-assets: '~@capterra/gdm-design-tokens/assets/icons';
$get-path-to-assets: '~icons';


@each $name, $value in $size {
  @if $name == "xs" {
    // They said this would be a one off from our usual sizes.. good start!
    // Usually xs is equal to 8, but in our case we are making up a 12px
    .#{$TOKEN_PREFIX_BASE_DEFAULT}icon-#{$name} {
      width: 12px;
      height: 12px;
      mask-size: 12px 12px;
      -webkit-mask-size: 12px 12px;
    }
  } @else {
    .#{$TOKEN_PREFIX_BASE_DEFAULT}icon-#{$name} {
      width: $value;
      height: $value;
      mask-size: $value $value;
      -webkit-mask-size: $value $value;
    }

  }
};

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon {
  display: inline-block;
  mask-repeat: no-repeat;
  mask-position: center center;
  background-color: currentcolor;
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-alert-error {
  color: $TOKEN_COLOR_BACKGROUND_ICON_ERROR;
  mask-image: url('#{$get-path-to-assets}/alert-error.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/alert-error.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-alert-notification {
  color: $TOKEN_COLOR_BACKGROUND_ICON_NOTIFICATION;
  mask-image: url('#{$get-path-to-assets}/alert-notification.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/alert-notification.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-alert-success {
  color: $TOKEN_COLOR_BACKGROUND_ICON_SUCCESS;
  mask-image: url('#{$get-path-to-assets}/alert-success.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/alert-success.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-caret {
  color: $TOKEN_COLOR_BACKGROUND_ICON_CARET_DEFAULT;
  mask-image: url('#{$get-path-to-assets}/caret.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/caret.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-close {
  color: $TOKEN_COLOR_BACKGROUND_ICON_CLOSE_DEFAULT;
  mask-image: url('#{$get-path-to-assets}/close.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/close.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-edit {
  color: $TOKEN_COLOR_BACKGROUND_ICON_EDIT;
  mask-image: url('#{$get-path-to-assets}/edit.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/edit.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-footnote-dollar {
  color: $TOKEN_COLOR_BACKGROUND_ICON_FOOTNOTE_DOLLAR;
  mask-image: url('#{$get-path-to-assets}/footnote-dollar.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/footnote-dollar.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-footnote-equals {
  color: $TOKEN_COLOR_BACKGROUND_ICON_FOOTNOTE_EQUALS;
  mask-image: url('#{$get-path-to-assets}/footnote-equals.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/footnote-equals.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-footnote-estimate {
  color: $TOKEN_COLOR_BACKGROUND_ICON_FOOTNOTE_ESTIMATE;
  mask-image: url('#{$get-path-to-assets}/footnote-estimate.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/footnote-estimate.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-info {
  color: $TOKEN_COLOR_BACKGROUND_ICON_INFO;
  mask-image: url('#{$get-path-to-assets}/info.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/info.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-loading-spinner {
  color: $TOKEN_COLOR_BACKGROUND_ICON_LOADING_SPINNER;
  mask-image: url('#{$get-path-to-assets}/loading-spinner.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/loading-spinner.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-pagination {
  color: $TOKEN_COLOR_BACKGROUND_ICON_PAGINATION;
  mask-image: url('#{$get-path-to-assets}/pagination.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/pagination.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-target {
  color: $TOKEN_COLOR_BACKGROUND_ICON_TARGET;
  mask-image: url('#{$get-path-to-assets}/target.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/target.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-checkbox {
  color: $TOKEN_COLOR_BACKGROUND_ICON_CHECKBOX;
  mask-image: url('#{$get-path-to-assets}/checkbox.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/checkbox.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-checkbox-selected {
  color: $TOKEN_COLOR_BACKGROUND_ICON_CHECKBOX_SELECTED;
  mask-image: url('#{$get-path-to-assets}/checkbox-selected.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/checkbox-selected.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-radio {
  color: $TOKEN_COLOR_BACKGROUND_ICON_RADIO;
  mask-image: url('#{$get-path-to-assets}/radio.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/radio.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-radio-selected {
  color: $TOKEN_COLOR_BACKGROUND_ICON_RADIO_SELECTED;
  mask-image: url('#{$get-path-to-assets}/radio-selected.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/radio-selected.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-search {
  color: $TOKEN_COLOR_BACKGROUND_ICON_SEARCH;
  mask-image: url('#{$get-path-to-assets}/search.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/search.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-drag {
  color: $TOKEN_COLOR_BACKGROUND_ICON_DRAG;
  mask-image: url('#{$get-path-to-assets}/drag.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/drag.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-required {
  color: $TOKEN_COLOR_BACKGROUND_ICON_REQUIRED;
  mask-image: url('#{$get-path-to-assets}/required.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/required.svg');
}

.#{$TOKEN_PREFIX_BASE_DEFAULT}icon-fallback {
  color: $TOKEN_COLOR_BACKGROUND_ICON_FALLBACK;
  mask-image: url('#{$get-path-to-assets}/fallback.svg');
  -webkit-mask-image: url('#{$get-path-to-assets}/fallback.svg');
}
