@import '@tokens/variables.scss';

.#{$TOKEN_PREFIX_BASE_DEFAULT}scroll-shadow {
  height: 100%;
  overflow-y: scroll;
  background: linear-gradient($TOKEN_COLOR_BASE_LIGHT 30%, rgba(255,255,255,0)),linear-gradient(rgba(255,255,255,0), $TOKEN_COLOR_BASE_LIGHT 70%) 0 100%,linear-gradient(to bottom, #F0F0F0 0%, $TOKEN_COLOR_BASE_LIGHT 100%),linear-gradient(to top, #F0F0F0 0%, $TOKEN_COLOR_BASE_LIGHT 100%) 0 100%;
  background: -moz-linear-gradient($TOKEN_COLOR_BASE_LIGHT 30%, rgba(255,255,255,0)),-moz-linear-gradient(rgba(255,255,255,0), $TOKEN_COLOR_BASE_LIGHT 70%) 0 100%,-moz-linear-gradient(to bottom, #F0F0F0 0%, $TOKEN_COLOR_BASE_LIGHT 100%),-moz-linear-gradient(to top, #F0F0F0 0%, $TOKEN_COLOR_BASE_LIGHT 100%) 0 100%;
  background-repeat: no-repeat;
  background-color: $TOKEN_COLOR_BASE_LIGHT;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
  &.#{$TOKEN_PREFIX_BASE_DEFAULT}no-scroll {
    overflow: hidden;
    background: none;
    background-attachment: none;
  }
}