@import '@tokens/variables.scss';
@import '../_functions.scss';
@import '../_mixins.scss';

// This will iterate over all the font base tokens to create css classnames
// All tokens for font styles can be found in the token library under font/base.json
// example output: .title, .subtitle, .heading-sm, .heading-lg etc.
$spacing: map-deep-get($gdm-tokens, 'size', 'base', 'gdm');
// @debug $spacing;
$directions: 'top', 'right', 'bottom', 'left';
$directions-margin: 'right', 'left';

body {
  @each $name, $value in $spacing {
    .#{$TOKEN_PREFIX_BASE_DEFAULT}m-#{$name} {
      margin: $value
    }
    .#{$TOKEN_PREFIX_BASE_DEFAULT}p-#{$name} {
      padding: $value
    }
    @each $direction in $directions {
      .#{$TOKEN_PREFIX_BASE_DEFAULT}m-#{$direction}-#{$name} {
        @include set-margin($direction, $value);
      }
      .#{$TOKEN_PREFIX_BASE_DEFAULT}p-#{$direction}-#{$name} {
        @include set-padding($direction, $value);
      }
    }
  };


  $baseWidth: 100 / $TOKEN_SIZE_WIDTH_GRID;
  
  @for $i from 1 through $TOKEN_SIZE_WIDTH_GRID {
    $percent: percentage($baseWidth * $i / 100);
    @each $direction in $directions-margin {
      .#{$TOKEN_PREFIX_BASE_DEFAULT}m-#{$direction}-#{$i} {
        margin-#{$direction}: $percent;
      }
    }
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}p-none {
    padding: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}p-top-none {
    padding-top: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}p-right-none {
    padding-right: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}p-bottom-none {
    padding-bottom: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}p-left-none {
    padding-left: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}m-auto {
    margin: auto;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}m-0-auto {
    margin: 0 auto;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}m-none {
    margin: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}m-top-none {
    margin-top: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}m-right-none {
    margin-right: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}m-bottom-none {
    margin-bottom: 0 !important;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}m-left-none {
    margin-left: 0 !important;
  }
}