@import '@tokens/variables.scss';

body {
  .#{$TOKEN_PREFIX_BASE_DEFAULT}uppercase {
    text-transform: uppercase;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}lowercase {
    text-transform: lowercase;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}capitalize {
    text-transform: capitalize;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}normal-case {
    text-transform: none;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}underline {
    text-decoration: underline;
  }
}