@import '@tokens/variables.scss';

body {
  .#{$TOKEN_PREFIX_BASE_DEFAULT}visible {
    visibility: visible;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}invisible {
    visibility: hidden;
  }

  .#{$TOKEN_PREFIX_BASE_DEFAULT}overflow-hidden {
    overflow: hidden;
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}overflow-scroll {
    overflow: scroll;
  }
}