@import '@tokens/variables.scss';

$baseWidth: 100 / $TOKEN_SIZE_WIDTH_GRID;

// Examples:
// .w-6 { width: 25% }
// .w-10 { width: 41.66667% }
body {
  @for $i from 1 through $TOKEN_SIZE_WIDTH_GRID {
    .#{$TOKEN_PREFIX_BASE_DEFAULT}w-#{$i} {
      width: percentage($baseWidth * $i / 100);
    }
  }
  
  .#{$TOKEN_PREFIX_BASE_DEFAULT}w-auto {
    width: auto;
  }
}